In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("C:/Users/mickel.cruz/OneDrive - Magna Motors/Documentos/ProyectosPandas/DF/Olympic_Swimming_Results_1912to2020.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              4359 non-null   object
 1   Year                  4359 non-null   int64
 2   Distance (in meters)  4359 non-null   object
 3   Stroke                4359 non-null   object
 4   Relay?                4359 non-null   int64
 5   Gender                4359 non-null   object
 6   Team                  4359 non-null   object
 7   Athlete               4345 non-null   object
 8   Results               4331 non-null   object
 9   Rank                  4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

In [12]:
df.head(5)

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4

In [28]:
df["Gender"].unique()
df["Year"].unique()
df["Relay?"].unique()
df["Stroke"].unique()
df["Distance (in meters)"].unique()

array(['100m', '1500m', '200m', '400m', '50m', '800m', '4x100', '4x200'],
      dtype=object)

In [14]:
df["Results"]=df["Results"].fillna(0)

In [15]:
df["Athlete"]=df["Athlete"].fillna("Unknown")

In [16]:
df["Team"]=df["Team"].str.strip(" ")
df["Team"].unique()

array(['ROC', 'USA', 'ITA', 'CHN', 'ESP', 'AUS', 'ROU', 'GBR', 'NED',
       'BLR', 'HUN', 'SUI', 'POL', 'GUA', 'BUL', 'FRA', 'KOR', 'UKR',
       'GER', 'AUT', 'JPN', 'FIN', 'SWE', 'RSA', 'BRA', 'LTU', 'NZL',
       'TUN', 'GRE', 'CAN', 'ISR', 'IRL', 'HKG', 'BEL', 'CZE', 'DEN',
       'RUS', 'KAZ', 'ISL', 'JAM', 'SGP', 'NOR', 'ZIM', 'NZ', 'NL', 'IR',
       'NLD', 'SRB', 'CUB', 'ZAF', 'TTO', 'BAH', 'VEN', 'KEN', 'PNG',
       'SLO', 'CRO', 'SVK', 'ALG', 'ARG', 'CRC', 'PUR', 'MDA', 'BAR',
       'EUN', 'SUR', 'Unified Team', 'TCH', 'URS', 'GDR', 'FRG', 'YUG',
       'SUN', 'BGR', 'COL', 'POR', 'CHE', 'MEX', 'ECU', 'PER', 'URU',
       'EGY', 'PHI', 'BER', 'IND', 'LUX', 'ANZ'], dtype=object)

In [21]:
df["Results"].value_counts()

Results
Did not start      43
Did not finish     35
0                  28
Disqualified       23
00:01:08.100000     6
                   ..
00:03:36.610000     1
00:03:39.830000     1
00:03:40.300000     1
00:03:40.310000     1
00:10:37.000000     1
Name: count, Length: 3636, dtype: int64

In [113]:
def Separa_Results(x):
    if pd.isna(x):
        return "NA"
    elif "Did not start" == x:
        return "Did not start"
    elif "Disqualified" == x:
        return "Disqualified"
    elif "Did not finish" == x:
        return "Did not finish"
    else:
        try:
            # Intentar convertir a número
            num = float(x)
            if 0 <= num <= 100:  # Valores entre 0 y 100 son puntuaciones
                return "Punctuation"
            elif num > 100:  # Valores mayores a 100 son tiempo en segundos
                return "Time sec"
        except:
            # Si no es un número, verificar si contiene ":"
            if ":" in str(x):
                return "Timed time"
            else:
                return "Other"

# Aplicar la función a la columna "Results"
df["Results_Text"] = df["Results"].apply(Separa_Results)

In [114]:
def Puntuacion(x):
    try:
        if ":" in str(x):
            return 0  # si tiene dos puntos, es tiempo => lo marcamos 0
        else:
            return float(x)
    except:
        return 0

df["Punctuation"] = df["Results"].apply(Puntuacion)

In [115]:
df["Results_Text"].unique()

array(['Punctuation', 'Timed time', 'Disqualified', 'Did not start',
       'Did not finish'], dtype=object)

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              4359 non-null   object
 1   Year                  4359 non-null   int64
 2   Distance (in meters)  4359 non-null   object
 3   Stroke                4359 non-null   object
 4   Relay?                4359 non-null   int64
 5   Gender                4359 non-null   object
 6   Team                  4359 non-null   object
 7   Athlete               4359 non-null   object
 8   Results               4359 non-null   object
 9   Rank                  4359 non-null   int64
 10  Results_Text          4359 non-null   object
 11  Punctuation           4359 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 408.8+ KB

In [123]:
def grupos(x):
    if "4x100"==x:
        return "Group"
    elif "4x200"==x:
        return "Group"
    else:
        return "Individual"

df["Group"]= df["Distance (in meters)"].apply(grupos)

In [ ]:
def tiempos(x):
    if isinstance(x, str) and ":" in x:  # Verificar si es una cadena y contiene ":"
        return x
    else:
        return 0

df["Duration"] = df["Results"].apply(tiempos)
df["Duration"]= pd.to_timedelta(df["Duration"], errors="coerce")
df["Duration"] = df["Duration"].apply(
    lambda x: f"{x.components.hours:02}:{x.components.minutes:02}:{x.components.seconds:02}"
    if pd.notna(x) else "00:00:00"
)

In [144]:
df["Group_Time"]

0       00:00:00:000
1       00:00:00:000
2       00:00:00:000
3       00:00:00:000
4       00:00:00:000
            ...
4354    00:00:00:000
4355    00:10:11:200
4356    00:10:20:200
4357    00:10:28:600
4358    00:10:37:000
Name: Group_Time, Length: 4359, dtype: object

In [165]:
df.to_excel("C:/Users/mickel.cruz/OneDrive - Magna Motors/Documentos/ProyectosPandas/DF_Limpio/Olimpico1.xlsx", index=False)

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              4359 non-null   object
 1   Year                  4359 non-null   int64
 2   Distance (in meters)  4359 non-null   object
 3   Stroke                4359 non-null   object
 4   Relay?                4359 non-null   int64
 5   Gender                4359 non-null   object
 6   Team                  4359 non-null   object
 7   Athlete               4359 non-null   object
 8   Results               4359 non-null   object
 9   Rank                  4359 non-null   int64
 10  Results_Text          4359 non-null   object
 11  Punctuation           4359 non-null   float64
 12  Group                 4359 non-null   object
 13  Duration              4359 non-null   object
dtypes: float64(1), int64(3), object(10)
memory usage: 476.9+ KB

In [152]:
df.head(5)

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank,Results_Text,Punctuation,Group,Group_Time
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1,Punctuation,51.98,Individual,00:00:00:000
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2,Punctuation,52.00,Individual,00:00:00:000
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3,Punctuation,52.19,Individual,00:00:00:000
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4,Punctuation,52.30,Individual,00:00:00:000
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4,Punctuation,52.51,Individual,00:00:00:000